* {
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px auto 0 auto;
  padding: 10px;
  max-width: 790px;
  height: 50px;
  background-color: #292929;
  color: #FFF;
  text-transform: uppercase;
}

.header-text {
  font-size: 18px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 2rem 0; */
}